# Created by .ignore support plugin (hsz.mobi)

.idea
.gradle
/node_modules
/dist/bundle.js
npm-debug.log

# Ignore the eslint cache
.eslintcache

# Ignore stupid macOS files
.DS_Store
.project
.settings/org.eclipse.buildship.core.prefs
