main {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  .panel {
    margin-right: 30px;
    &:last-child {
      margin-right: 0px;
      &:before {
        border-color: transparent transparent transparent transparent;
      }
    }
    &:before {
      content: "";
      border-style: solid;
      border-width: 15px 0 15px 15px;
      border-color: transparent transparent transparent #d9edf7;
      position: absolute;
      right: -15px;
      top: 5px;
    }
  }
  .panel-heading {
    margin: 0 -15px;
  }
}
