/* Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0;	padding: 0;	border: 0;	outline: 0;	font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }

/* Hesselbom.se CSS e1e3e4 */
.clear-fix:after { clear: both; content: ""; display: block; height: 0; visibility: hidden; }

$footer-height: 80px;
$gameboard-width: 1024px;

html {
  position: relative;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 0 $footer-height;
  background-color: #f2f2f2;
  font:100%/1.3125rem 'Open Sans', sans-serif;
  color:#fff;
  background-image: url('../images/backgrounds/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  border: none;
  width:100%;
}

/* Headlines and paragraohs */

h1 {
  font-size: 36px;
  line-height: 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
}

h2 {
  font-size: 28px;
  line-height: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

h3 {
  font-size: 20px;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

h4 {
  font-size: 18px;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

h5 {
  font-size: 16px;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-style: italic;
}

p {
  margin-bottom: 2rem;
}

header {
  ul {
    list-style-type: none;
    margin: 0;

  }

  li {
    padding: 0 1rem;
    float: left;
  }

  nav {
    float: right;
    margin-top: 1rem;

    a {
      color: rgba(255,255,255,0.7);
      text-decoration: none;
      font-size: 16px;
      border-bottom: none;
      transition: all 0.1s;

      &:hover {
        color: rgba(255,255,255,1);
        text-decoration: none;
        font-size: 16px;
        border-bottom: 3px solid #f8f8f8;
        transition: all 0.1s;
      }

      &.active {
        border-bottom: 3px solid #f8f8f8;
        color: rgba(255,255,255,1);
        text-decoration: none;
      }
    }
  }

  img {
    width: 200px;
  }
}

header, footer {
  padding: 1rem 2rem;

}

section {
  width: 100%;
  padding: 2rem;
  margin: auto;
}

footer {
  margin-top: 4rem;
  position: absolute;
  left: 0;
  bottom: 0;
  height: $footer-height;
  width: 100%;

  img {
    width: 100px;
    float: left;
  }

  span {
    float: right;
    font-size: 12px;
    color: rgba(255,255,255,0.7);
  }
}

.information {
  max-width: 860px;
  margin: auto;
  background-color: rgba(0,0,0,0.75);
  padding: 2rem 3rem;
  border-radius: 10px;
}

/* Player list */
.active-players {
  background-color: rgba(0,0,0,0.5);
  padding: 1rem;
  float: left;
  color: #fff;
  font-size: 14px;
  border-radius: 10px;
  max-width: 250px;

  img {
    width: 16px;
    margin-right: 7px;
  }

  ul li {
    margin-top: 5px;
    border-top: 1px solid #333;
    padding-top: 5px;
    /* max-width: 250px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  ul li:first-child {
    margin-top: 0;
    border-top: none;
    padding-top: 0;
  }

  strong {
    margin: 0 0.2rem;
  }
}

/* Gameboard with controls */
.gameboard {
  background-image: url('../images/backgrounds/space.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: $gameboard-width;
  float: right;
  padding-top: 12px;
  padding-bottom: 12px;

  canvas {
    background: url('../images/backgrounds/game.svg');
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1000px;
  }
}

.controlpanel {
  width: $gameboard-width;
  float: right;
  display: inline-block;
  background-color: rgba(0,0,0,0.5);
  padding: 0 1rem;
}

.controlbuttons {
  float: right;
  width: 99px;
}

.playButton,
.forwardButton,
.backwardsButton {
  height: 26px;
  width: 26px;
  margin: 10px 2px 3px;
  background-color: #000;
  border: 1px solid #333;
  padding: 6px;
  border-radius: 3px;
  transition: all 0.1 s;

  &:hover {
    background-color: #333;
    transition: all 0.2s;

  }
}

/* Range CSS */
input[type=range].react-native-slider {
  -webkit-appearance: none;
  width: 870px;
  height: 16px;
  margin: 16px 0px;
  float: right;
  border-radius: 16px;
  background: #333;

  &:focus {
    outline: none;

    &::-webkit-slider-runnable-track {
      background: #333;
    }

    &::-ms-fill-lower {
      background: #333;
    }

    &::-ms-fill-upper {
      background: #333;
    }
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    background: #333;
    border-radius: 16px;
    border:none;
  }

  &::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border-radius: 16px;
    background: #1989ff;
    cursor: pointer;
    -webkit-appearance: none;
  }

  &::-moz-range-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    background: #333;
    border-radius: 16px;
    border: 1px solid #1989ff;
  }

  &::-moz-range-thumb {
    border: 0px solid #1989ff;
    height: 16px;
    width: 16px;
    border-radius: 16px;
    background: #1989ff;
    cursor: pointer;
  }

  &::-ms-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: #333;
    border: 1px solid #1989ff;
    border-radius: 16px;
  }

  &::-ms-fill-upper {
    background: #333;
    border: 1px solid #1989ff;
    border-radius: 16px;
  }

  &::-ms-thumb {
    border: 0px solid #1989ff;
    width: 16px;
    border-radius: 16px;
    background: #1989ff;
    cursor: pointer;
    height: 16px;
  }
}

/* Forms */
label {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=email],
textarea,
select {
  color:#000;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.2rem;
  background-color: #fff;
  border: none;
  border: 1px solid #313131;
  width: 80%;
  transition: all 0.1s;
  margin-bottom: 0.5rem;
  padding: 0.4rem;
  border-radius: 3px;
}

textarea {
  height: 80px;
}

input[type=text]:hover,
input[type=url]:hover,
input[type=tel]:hover,
input[type=number]:hover,
input[type=email]:hover,
textarea:hover {
  background-color: #f1f8ff;
  transition: all 0.2s;
}

input[type=text]:focus,
input[type=url]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=email]:focus,
textarea:focus {
  background-color: #f8f8f5;
}


select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  appearance: none;
  background-image: url('../images/icons/arrow.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  border-radius: 3px;
}

input[type=submit], input[type=reset], button {
  border: none;
  font-size: 16px;
  border-radius: 3px;
  line-height: 1rem;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 20px 8px;
  cursor: pointer;
  transition: all 0.1s;
}


input[type=submit] {
  color: #fff;
  background: #459335;
  border-bottom: 2px solid #459335;
}

input[type=submit]:hover,
input[type=submit]:focus {
  background: #4ea43c;
  border-bottom: 2px solid #326B24;
  transition: all 0.2s;
}

input[type=reset] {
  color: #313131;
  background: #ccc;
  border-bottom: 2px solid #ccc;
}

input[type=reset]:hover,
input[type=reset]:focus {
  background: #d6d6d6;
  border-bottom: 2px solid #999;
  transition: all 0.2s;
}

button {
  color: #fff;
  background: #1c5a97;
  border-bottom: 2px solid #1c5a97;

  &:hover,
  &:focus {
    background: #3b7abc;
    border-bottom: 2px solid #1c5a97;
    transition: all 0.2s;
  }
}

.form-list {
  margin-bottom: 1rem;

  li {
    margin-bottom: 0.5rem;
  }
}
